@import '../../../../css/_variable';
@import '../../../../css/_mixin';

$play-triangle-height: 24px;

.noise-difference-player {
  .button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    background-color: $color-primary-default;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border-color: transparent;

    &:before,
    &:after {
      position: absolute;
      content: '';
    }

    &[type='play'] {
      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: calc($play-triangle-height / 2) 0
          calc($play-triangle-height / 2) ($play-triangle-height * 0.866);
        border-color: transparent transparent transparent $color-white;
        top: 50%;
        left: 50%;
        transform: translateX(-30%) translateY(-50%);
      }
      &:after {
        display: none;
      }
    }

    &[type='pause'] {
      &:before,
      &:after {
        position: absolute;
        width: 6px;
        height: 22px;
        background-color: $color-white;
        border-radius: 1.2px;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }

      &:before {
        left: calc(50% - #{6px});
      }

      &::after {
        left: calc(50% + #{6px});
      }
    }

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }
  }
}
