@import '../../../../css/_variable';
@import '../../../../css/_mixin';

.creator-page{
    .creator-head{
        position: relative;
        display: flex;
        width: 100%;
        height: 796px;
        
        @include breakpoint-pc-sm(){
            height: 740px;
        }
        @include breakpoint-pad-md(){
            height: 820px;
        }
        

        &__background {
            width: 3500px;
            height: 503px;
            position: absolute;
            left: 50%;
            top: 214px;
            transform: translateX(-50%);

            @include breakpoint-pc-md() {
                top: 234px;
                left: 70%;
              }
        
              @include breakpoint-pad-lg() {
                left: 95%;                
              }
              @include breakpoint-phone-lg() {
                left: 120%;                
              }
        
              @include breakpoint-phone-sm() {                
                left: 230%;
              }
        }

        &__circle {
            position: absolute;
            display: block;
            width: 1458px;
            height: 1458px;
            background: linear-gradient(180deg, #064bb2 0%, #0a378e 100%);
            border-radius: 50%;
            left: 40%;
            
            top: -762px;
            @include breakpoint-pc-md(){
                left: 54%;
            }
            @include breakpoint-pc-sm() {
                width: 1376px;
                

              }
              @include breakpoint-pad-lg(){
                width: 1248px; 
                left: 56%;
            }
            @include breakpoint-pad-md(){
                width: 988px; 
                left: 51%;
            }

            

        }

        
        &__container{

            position: relative;
            display: flex;
            
            justify-content: space-between;
            
            width: 100%;
            height: 100%;
            
            margin: 0 auto;
            @include breakpoint-pad-md() {
                flex-direction: column;
                align-items: center;
                justify-content:flex-start
                
                

              }
        }


        

        &__dialog{
            position: absolute;
            top: 135px;
            right: 18%;
            display: flex;
            flex-direction: column;
            
            flex-shrink: 1; 
            min-width: 0; 
            

            @include breakpoint-pc-lg(){
                right: 8%;
            }

            @include breakpoint-pc-sm(){
                top: 126px;
                right: 12.6%;

            }



            @include breakpoint-pad-lg(){
                right: 8%;
                top: 109px;
                
            }

            @include breakpoint-pad-md(){
                position: relative;
                order: 1;
                top: 80px;
                right: 0;
            }
            

        }

        &__dialogBox{
            
            width: 571px;
            height: 393px;
            z-index: 0;
            @include breakpoint-pc-sm() {
                
                width: 529px;
                height: 352px;

            }
            @include breakpoint-pad-md(){
                min-height: 352px;
                width: 430px;
                
            }
            
           
            
            
        }
        &__youtuber{
            position: relative;
            left: calc(50% - 81.77px/2 - 592.12px);
            top: 101.6px;
            display: flex;
            flex-direction: column;
            z-index: 2;
            flex-shrink: 1; 
             
        

            @include breakpoint-pc-lg(){
                top: 135px;
                left: calc(50% - 76.13px/2 - 537.94px);
            }

            @include breakpoint-pc-sm(){
                left: calc(50% - 66.39px/2 - 413.8px);
                

            }



            @include breakpoint-pad-lg(){
                top: 144px;
                left:calc(50% - 66.39px/2 - 379.8px);
            }

            @include breakpoint-pad-md(){
                
                    order: 2;
                    left: 0;
                    top: 50px;
                
                

            }
             

            & img{
                width: 826.3px;
                height: 696.4px;
                @include breakpoint-pc-sm(){
                    width: 630.5px;
                    height: 584px;
                }
                @include breakpoint-pad-md(){
                    width: 473px;
                    height: 424px;
                }

   
            }

            & h3{
                position: absolute;
                line-height: 125%;
                font-style: normal;
                font-weight: 500;
                z-index: 2;
                top: 540px;
                left:calc(50% - 620px/2 - 0px);
                width: 620px;
                text-align: center;
                 
                color: $color-white;
                font-size: $font-size-h3-32;
                transform: matrix(1, -0.06, 0.06, 1, 0, 0);
                @include breakpoint-pc-sm(){
                    font-size: $font-size-h4-24;
                    width: 490px;
                    top: 447px;
                    left: 64px;
                }
                @include breakpoint-pad-md(){
                    max-width: 360px;
                   
                    top: 330px;
                    left: 60px;
                    text-align: center;
                }

                
            }

        }
        
        &__context{
            position: absolute;
            display: flex;
            flex-direction: column;
            transform: matrix(0.99, 0.15, -0.19, 0.98, 0, 0);
            top: 85px;
            left: 60px;
            width: 450px;
            
            @include breakpoint-pc-sm() {
                top: 70px;
                left: 60px;
                width:440px;
            }
            @include breakpoint-pad-md(){
                top: 55px;
                left: 40px;
                width:360px;

            }

            @include breakpoint-phone-sm(){
                width:330px;  
                left: 60px; 
            }

            &_head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                align-items: center;

                > button{
                    font-size: $font-size-h4-24;
                    line-height: 30px;
                    margin-right: 25px;
                    padding: 10px;
                    min-width: 136px;
                    height: 60px;
                    @include breakpoint-pad-md(){
                        font-size: $font-size-body-20;
                    }
                }

            }

            & h3{
                
                z-index: 2;
                color: $color-white;
                font-size: $font-size-h3-32;
                @include breakpoint-pc-sm() {
                
                    font-size: 28px;
                    
    
                }
                @include breakpoint-pad-md(){
                    font-size: $font-size-h4-24;
                }

                
            }

            & p{
                
                z-index: 2; 
                color: $color-white;
                font-size: $font-size-body-20;
                line-height: 140%;
                font-weight: 400;

                @include breakpoint-pc-sm() {
                
                    font-size: $font-size-body-18;    
    
                }
                @include breakpoint-pad-md(){
                    margin-bottom: 0;
                }
    
            }
    
            

        }
        

        






    }
}