@import '../../../../css/_variable';
@import '../../../../css/_mixin';
@import '../../../../css/_extend';

.modal-dialog {
  &.hullaballoo-modal {
    &__track-detail-intro {
      @media all and (min-width: (1200px)) {
        max-width: 500px;
      }

      @media all and (min-width: 992px) and (max-width: 1200px) {
        width: 100%;
        max-width: 667px;
      }

      @media all and (max-width: (576px)) {
        @include modal_container();
      }
      &__finish {
        .hullaballoo-modal__content {
          margin-top: 32px;
        }
      }
    }
  }
}
