@import '../../../../../css/_variable';
@import '../../../../../css/_mixin';

.home-page {
  .landing-creator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1220px;
      width: 100%;
      height: 100%;
      flex: 1;
      margin: 0 auto;
      margin-top: 125px;

      @include breakpoint-pc-sm() {
        margin-top: 80px;
        max-width: 992px;
      }

      @include breakpoint-pad-lg() {
        max-width: 824px;
        padding-left: 24px;
        padding-right: 24px;
      }

      @include breakpoint-pad-md() {
        margin-top: 70px;
        margin-top: 135px;
      }

      @include breakpoint-pad-sm() {
        max-width: 100%;
      }
    }

    &__title {
      > h2 {
        font-weight: 500;
        font-size: $font-size-h1-40;
        line-height: 1.4;
        color: $color-primary-default;
        text-align: center;

        @include breakpoint-pc-md() {
          font-size: $font-size-h3-32;
          line-height: 40px;
        }

        @include breakpoint-pad-md() {
          font-size: 28px;
          line-height: 40px;
        }
      }

      > p {
        font-size: $font-size-body-20;
        color: $color-grey-scale;
        line-height: 1.4;
        margin: 0;
        margin-top: 20px;
        text-align: center;
      }
    }

    &__content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 40px;
      margin-top: 105px;
      margin-bottom: 67px;
      justify-content: center;

      @include breakpoint-pc-sm() {
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 30px;
      }

      @include breakpoint-pad-lg() {
        gap: 24px;
      }

      @include breakpoint-pad-md() {
        gap: 16px 46px;
      }

      li {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 170px;
        height: 170px;
        cursor: pointer;

        &.disabled {
          cursor: auto;
        }

        @include breakpoint-pc-sm() {
          width: 138px;
          height: 138px;
        }

        @include breakpoint-pad-lg() {
          width: 106px;
          height: auto;
        }

        &:hover {
          > div {
            opacity: 1;
          }
        }
      }

      img {
        width: 100%;
        aspect-ratio: 1/1;
      }

      div {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: rgba(1, 87, 203, 0.77);
        padding-left: 10px;
        padding-right: 10px;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;

        @include breakpoint-pad-md() {
          position: relative;
          opacity: 1;
          background-color: transparent;
          transition: none;
          padding: 0;
          height: auto;
        }

        > p {
          display: flex;
          margin: 0;
          text-align: center;
          color: $color-white;
          font-size: $font-size-body-20;
          line-height: 1.4;
          font-weight: 500;

          @include breakpoint-pad-lg() {
            font-size: $font-size-body-16;
          }

          @include breakpoint-pad-md() {
            align-items: center;
            color: $color-grey-scale;
            margin-top: 8px;
            font-size: $font-size-base;
            font-weight: 400;
          }
        }
      }
    }
  }
}
