@import '../../../../css/_variable';
@import '../../../../css/_mixin';

$topSpace:652px;
@mixin backgroundLetter{
    width: 1157px;
    height: 375px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 300px;
    line-height: 125%;
    color: $color-grey-scale11;
}

@mixin  contextLetter {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-body-20;
    line-height: 140%;
    color: $color-white;
    text-align: center;
}

.creator-page{
    .shutter{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 2517px;
        overflow: hidden;
        top: -144px;

       

        &__podcast{
            position: relative;

            &_container{
                
                
                width: 100%;
                z-index: -1;
            }
            
            &_background{
                position: absolute;
                left: calc(50% - 1115px/2 + 102.5px);;
                top: 0px;
                @include backgroundLetter;
            }

            &_circle{
                position: absolute;
                left: calc(50% - 537px/2 + 318.5px);;
                top: 224px;
                width: 537px;
                height: 537px;
                border-radius: 50%;
                background: linear-gradient(180deg, #FCB448 0%, #F5A429 100%);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items:center;
               
            }

            &_title {
                font-size: $font-size-h3-32;
                line-height: 125%;

                font-weight: 500;
                text-align: center;
                color: $color-white;
                margin-top: 60px;
            }
            &_bar {
                margin-top: 20px;
                width: 221px;
                height: 4px;
                background-color: #0157CB;
            }
            &_text{
                width: 440px;
                height: 84px;
                margin-top: 35px;
                @include contextLetter;
            } 

            &_name{
                position: absolute;
                width: 204px;
                height: 72px;
                right: 95px;
                top: 319px;
                @include contextLetter;
            }
            &_bluecircle {
                position: absolute;
                top: 313px;
                left: -49px;
                width: 246px;
                height: 246px;
                border-radius: 50%;
                background-color: #0157CB;
            }
            &_icon{
                position: absolute;
                top: 90px;
            }

            &_markup {
                
                position: absolute;
                top: 100px;
                left: -55px;
                width: 96px;
                height: 78px;           
                
            }
            &_markdown {
                
                position: absolute;
                bottom: 23px;
                right: -24px;
                width: 67px;
                height: 55px;           
                
                transform: rotate(180deg);
            }
            
            

        }

        &__youtube{
            position: relative;

            &_container{
                position: absolute;
                top: 869px;
                width: 100%;
            }

            &_background{
                position: absolute;
                left:  calc(50% - 1157px/2 - 227.5px);
                @include backgroundLetter;
                opacity: 0.6;
                ;
            }

            &_circle{
                position: absolute;
                left: calc(50% - 511px/2 - 288.5px);
                top: 240px;
                width: 511px;
                height: 511px;
                border-radius: 50%;
                background: #0157CB;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items:center;
               
            }
            &_icon{
                position: absolute;
                top:147px;
            }

            &_title {
                font-size: $font-size-h3-32;
                line-height: 125%;
                font-family: 'Noto Sans TC';
                font-style: medium;
                line-height: 41px;
                line-height: 100%;
                text-align: center;
                color:  $color-white;
                margin-top: 60px;
            }
            &_bar {
                margin-top: 20px;
                width: 221px;
                height: 4px;
                background-color: #F8A933;
            }
            &_text{
                width: 440px;
                height: 84px;
                margin-top: 35px;
                @include contextLetter;
            }
            &_yellowcircle {
                position: absolute;
                top: 313px;
                left: -35px;
                width: 246px;
                height: 246px;
                border-radius: 50%;
                background-color: #F5A623;
            }
            &_markup {
                
                position: absolute;
                top: 100px;
                left: -55px;
                width: 96px;
                height: 78px;
            }           
                
            &_markdown {
                
                position: absolute;
                bottom: 23px;
                right: -24px;
                width: 67px;
                height: 55px;           
                transform: rotate(180deg);
            }
            
            

        }

        &__effect{
            &_container{
                position: absolute;
                top: 1848px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1{
                    font-weight: 500;
                    font-size: $font-size-h1-40;
                    color: #0146A2;
                    line-height: 140%
                }

                p{
                    font-size: $font-size-body-20;
                    color: #5f5f5f;
                    line-height: 29px;
                    margin: 0;
                    margin-top: 20px;
                    
                }

                .credit{
                    color: #000;
                    line-height: 140%;
                    margin-top: 16.8px;
                }
                a{
                    color: #000; 
                }
    

            }
            
            &_laptop{
                margin-top: 80.2px;


            }
        }

        
        

        &__circle {
            position: absolute;
            width: 1227px;
            height: 1227px;
            left: -754px;
            top: 1723px - $topSpace;
            background: linear-gradient(180deg, #FDCF62 0%, #F6C245 100%);
            border-radius: 50%;
            z-index: -1;
        }
        

        


    }
}