@import '../../../../css/_variable';
@import '../../../../css/_mixin';

.noise-difference-player {
  .animation {
    position: absolute;
    bottom: 113px;
    width: 100%;
    height: 162px;
    overflow: hidden;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.2s linear, transform 0.2s linear;

      &.hidden {
        opacity: 0;
        transform: scale(1, 0);
      }
    }
  }
}
