@import '../../../../css/_variable';
@import '../../../../css/_mixin';

.noise-difference-player {
  .control {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 34px;

    @include breakpoint-pad-lg() {
      padding: 30px 20px;
    }

    .button {
      flex-shrink: 0;
      flex-basis: 53px;
    }

    .progressBar {
      flex: 1;
      margin-left: 24px;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}
