@import '../../../../../../css/_variable';
@import '../../../../../../css/_mixin';

.hullaballoo-modal {
  &__upload {
    &__after-uploaded {
      text-align: left;

      &__table {
        margin-top: 15px;
      }

      &__header {
        display: flex;
        background-color: transparent;
        border: 1px solid $color-primary-dark;
        border-right-color: transparent;
        border-left-color: transparent;
        > li {
          flex: 1;
          text-align: center;
          color: $color-primary-dark;
          font-size: $font-size-body-20;
          padding: 12px;
        }
      }

      &__body {
        max-height: 400px;
        overflow-y: auto;

        @media all and (max-width: (576px)) {
          max-height: 300px;
        }

        @media all and (max-width: (400px)) {
          max-height: 150px;
        }

        li {
          display: flex;
          padding: 12px;

          &:nth-child(even) {
            background-color: $color-grey-scale9;
          }

          span {
            flex: 1;
            text-align: center;
            flex-wrap: wrap;
            word-break: break-all;

            &:first-child {
              text-align: left;
            }
          }
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        align-items: flex-end;

        &--total {
          display: flex;
          font-size: $font-size-body-20;
        }

        &--saving {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-top: 12px;

          .hullaballoo-input__checkbox {
            &__symbol {
              width: 22px;
              height: 22px;

              svg {
                width: 16px;
                height: 12px;
              }
            }

            span {
              font-size: $font-size-body-18;
            }
          }

          &__desc {
            display: flex;
            margin-top: 12px;
            font-size: $font-size-base;
            line-height: 1.4;
          }
        }
      }

      &__actions {
        display: flex;
        margin-top: 20px;

        @for $i from 1 through 4 {
          &--count_#{$i} {
            > * {
              width: calc(100% / $i);
              margin-right: 12px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        @media all and (max-width: (576px)) {
          flex-direction: column;
          margin-top: 8px;

          > * {
            width: 100%;
            margin-top: 12px;
            margin-right: 0;

            &:first-child {
              order: 2;
            }

            &:last-child {
              order: 1;
            }
          }
        }
      }
    }
  }
}
