@import '../../../../css/_variable';
@import '../../../../css/_mixin';

$image-gap-pc-lg: 40px;
$image-pc-lg: 170px;
$image-gap-pc-sm: 31px;
$image-pc-sm: 136px;
$image-gap-pad-lg: 24.7px;
$image-pad-lg: 106px;
$image-gap-pad-md: 75px;
$image-pad-md: 106px;
$image-gap-phone-sm: 55px;
$image-phone-sm: 106px;

.creator-page {
  &__creator-list {
    background-color: $color-grey-scale9;
    width: 100%;
    overflow: hidden;

    &__container {
      width: calc($image-pc-lg * 6 + $image-gap-pc-lg * 5);

      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 56px 0 64px;

      @include breakpoint-pc-sm() {
        width: calc($image-pc-sm * 6 + $image-gap-pc-sm * 5);
      }

      @include breakpoint-pad-lg() {
        width: calc($image-pad-lg * 6 + $image-gap-pad-lg * 5);
      }

      @include breakpoint-pad-md() {
        width: calc($image-pad-md * 2 + $image-gap-pad-md);
      }
      @include breakpoint-phone-sm() {
        width: calc($image-phone-sm * 2 + $image-gap-phone-sm);
      }

      h2 {
        font-size: $font-size-title-40;
        color: $color-primary-default;
        font-weight: 500;
        line-height: 140%;
        margin: 0px auto;
      }

      button {
        margin: 40px auto 0;
        padding: 20px;
        font-size: $font-size-title-24;
        @include breakpoint-pc-sm() {
          font-size: $font-size-body-20;
        }
      }
    }

    &__image {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 35px $image-gap-pc-lg;
      margin-top: 40px;

      @include breakpoint-pc-sm() {
        gap: 29px $image-gap-pc-sm;
      }

      @include breakpoint-pad-lg() {
        gap: 22px $image-gap-pad-lg;
      }

      @include breakpoint-pad-md() {
        gap: 16px $image-gap-pad-md;
      }
      @include breakpoint-phone-sm() {
        gap: 16px $image-gap-phone-sm;
      }

      &__item {
        display: inline-block;
        width: $image-pc-lg;
        height: $image-pc-lg;

        @include breakpoint-pc-sm() {
          width: $image-pc-sm;
          height: $image-pc-sm;
        }

        @include breakpoint-pad-lg() {
          width: $image-pad-lg;
          height: $image-pad-lg;
        }

        @include breakpoint-pad-md() {
          width: $image-pad-md;
          height: auto;
          &:nth-child(1) {
            order: 1;
          }

          &:nth-child(2) {
            order: 2;
          }

          &:nth-child(3) {
            order: 5;
          }
          &:nth-child(4) {
            order: 4;
          }

          &:nth-child(5) {
            order: 9;
          }

          &:nth-child(6) {
            order: 8;
          }
          &:nth-child(7) {
            order: 7;
          }

          &:nth-child(8) {
            order: 11;
          }

          &:nth-child(9) {
            order: 3;
          }
          &:nth-child(10) {
            order: 6;
          }

          &:nth-child(11) {
            order: 10;
          }

          &:nth-child(12) {
            order: 12;
          }
        }
        @include breakpoint-phone-sm() {
          width: $image-phone-sm;
        }

        &__container {
          position: relative;
          height: 100%;

          img {
            display: block;
            width: 100%;
          }

          &:hover {
            .creator-page__creator-list__image__item__overlay {
              opacity: 1;
            }
          }
        }

        &__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 0.3s ease;
          display: flex;
          padding: 10px;

          @include breakpoint-pad-md() {
            position: static;
            height: auto;
            opacity: 1;
            padding: 0;
            margin: 8px 0 0;
            justify-content: center;
          }

          &--yellow {
            background: rgba(245, 166, 35, 0.8);

            @include breakpoint-pad-md() {
              background: none;
            }

            .creator-page__creator-list__image__item__overlay__icon {
              @include breakpoint-pad-md() {
                fill: rgba(245, 166, 35, 0.8);
              }
            }
          }

          &--blue {
            background: rgba(1, 87, 203, 0.8);

            @include breakpoint-pad-md() {
              background: none;
            }

            .creator-page__creator-list__image__item__overlay__icon {
              @include breakpoint-pad-md() {
                fill: rgba(1, 87, 203, 0.8);
              }
            }
          }

          &__text {
            color: white;
            width: 100%;
            text-align: center;
            margin: auto;
            font-size: $font-size-body-20;

            @include breakpoint-pc-sm() {
              font-size: $font-size-body-16;
            }

            @include breakpoint-pad-lg() {
              font-size: $font-size-caption;
            }

            @include breakpoint-pad-md() {
              color: $color-grey-scale;
              font-size: $font-size-caption;
              text-align: start;
              margin: 0 0 0 8px;
              width: auto;
            }
          }

          &__icon {
            fill: $color-white;
            opacity: 1;
            margin-left: 10;
            width: 42px;
            position: absolute;

            @include breakpoint-pad-md() {
              position: static;
              width: 24px;
              height: 24px;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
