@import '../../css/_variable';
@import '../../css/_mixin';

$hullaballoo-upload-area-background: rgba(152, 183, 235, 0.33);

.hullaballoo {
  &__upload-area {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-white;
    box-shadow: 10px 10px 30px rgba(152, 183, 235, 0.62);
    border-radius: 10px;
    max-width: 969px;

    @include breakpoint-pad-md() {
      margin-left: 10px;
      margin-right: 10px;
    }

    &__before-upload {
      position: relative;
      display: flex;
      width: calc(100%);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background-color: $hullaballoo-upload-area-background;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%230C2773' stroke-width='2' stroke-dasharray='7' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
      padding: 16px;
      margin: 18px;

      &__img {
        width: 116px;
        margin-top: 36px;
      }

      button[type='blank'] {
        display: inline-flex;
        border: 1px solid $color-primary-default;
        margin-top: 10px;
        font-size: $font-size-h4-24;
        color: $color-primary-default;
        padding: 10px 12px;

        .hullaballoo__upload-area__before-upload__add-icon {
          width: 22px;
          height: 22px;
        }
      }

      > h4 {
        font-weight: normal;
        font-size: $font-size-h4-24;
        line-height: 34px;
        color: $color-primary-default;
        margin-top: 10px;

        @media all and (max-width: (768px)) {
          display: none;
        }
      }

      > span {
        font-size: $font-size-body-16;
        line-height: 22px;
        color: $color-grey-scale;
        margin-top: 30px;
        margin-bottom: 18px;
        text-align: center;

        @media all and (max-width: (768px)) {
          margin-top: 10px;
        }
      }
    }
  }
}
